/* SASS globals. */
// Font.
$font-default:
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	Arial,
	sans-serif;

// Palette.
$colour-white: #fff;
$colour-black: #000;
$colour-brand: #6a30f7;

// Utility.
$width-default: 87.5;   /* 1400 / 16; unitless due to usage in different contexts. */
$width-constrain: 75ch; /* Typically to constrain line-length. */
$measure: 1.5rem;       /* Default spacing value. */
$nav-min-exposed: 43.75em;
$nav-max-toggle: 43.74375em;
$border-radius: .1875rem;


/**
 * Modular scale with CSS variables.
 * 
 * @link https://utopia.fyi/generator-mk-ii?c=800,18,1.333,1400,20,1.333,5,2,.
 */
:root {
	--fluid-min-width: 800;
	--fluid-max-width: calc(16 * #{$width-default});
  
	--fluid-screen: 100vw;
	--fluid-bp: calc(
	  (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
		(var(--fluid-max-width) - var(--fluid-min-width))
	);
  }
  
  @media screen and (min-width: 1400px) {
	:root {
	  --fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
  }
  
  :root {
	--f--2-min: 10.13;
	--f--2-max: 11.26;
	--step--2: calc(
	  ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
		var(--fluid-bp)
	);
  
	--f--1-min: 13.50;
	--f--1-max: 15.00;
	--step--1: calc(
	  ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
		var(--fluid-bp)
	);
  
	--f-0-min: 18.00;
	--f-0-max: 20.00;
	--step-0: calc(
	  ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
		var(--fluid-bp)
	);
  
	--f-1-min: 23.99;
	--f-1-max: 26.66;
	--step-1: calc(
	  ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
		var(--fluid-bp)
	);
  
	--f-2-min: 31.98;
	--f-2-max: 35.54;
	--step-2: calc(
	  ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
		var(--fluid-bp)
	);
  
	--f-3-min: 42.63;
	--f-3-max: 47.37;
	--step-3: calc(
	  ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
		var(--fluid-bp)
	);
  
	--f-4-min: 56.83;
	--f-4-max: 63.15;
	--step-4: calc(
	  ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
		var(--fluid-bp)
	);
  
	--f-5-min: 75.76;
	--f-5-max: 84.17;
	--step-5: calc(
	  ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
		var(--fluid-bp)
	);
  }