/**
 * Chtheme block editor styles.
 */

/* Set up. */
@import 'config';
@import 'component/wp-blocks/button';
@import 'component/wp-blocks/column';
@import 'component/wp-blocks/group';
@import 'component/wp-blocks/utility';
@import 'theme/typography';

/* Blocks. */

// General layout.
.wp-block,
//.wp-block[data-type="core/list"], /* Fix for missing native style. */
//.wp-block.editor-post-title__block,
.wp-block-group__inner-container {
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1rem * #{$width-default} - (4 * #{$measure}));
}

// Zero horizontal margins for group block child.
.wp-block-group__inner-container * {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-group {
	.has-text-align-center {
		margin-left: auto;
		margin-right: auto;
	}

	.has-text-align-right {
		margin-left: calc(100% - 35em);
	}
}

.wp-block[data-align="full"] {
	max-width: none;
}

// Button.
.wp-block-buttons {
	width: 100%;
}

.wp-block-buttons .wp-block-button:not(:last-child) {
	margin-right: $measure;
}

.wp-block-button__link {
	border-radius: $border-radius;
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	line-height: 1.2;
	padding: calc(.5 * #{$measure}) $measure;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;
}

/* Override block editor defaults. */
h4,
p,
li {
	font-size: var(--step-0);
	line-height: 1.5;
}

.block-editor-block-list__block.wp-block-column:not(:first-child) {
	margin-left: calc(2 * 1.5rem);
}