.skip-to-content {
	background-color: $colour-white;;
	left: var(--size-0);
	padding: .555em var(--size-0);
	position: absolute;
	transform: translateY(-100%);
	z-index: 10;

	&:focus {
		transform: translateY(.555em);
		transition: transform 250ms;
	}
}

/* Prevent focus outline in Chrome. */
main {
	outline: none;
}

/* No JS fallback. */
.no-js {
	.menu--primary {
		align-items: flex-start;
		justify-content: flex-start;
		min-height: 0;
	}

	.menu-drawer {
		height: auto;
		opacity: 1;
		visibility: visible;
	}
}
