/**
 * Manages header layout for all views.
 */
.header {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: $measure;
	padding-top: $measure;

	> :nth-child(1) {
		margin-right: auto; /* Pushes other flex children away from the wordmark. */
	}
}
