.wp-block-buttons {
	display: flex;

	&.alignleft {
		.wp-block-button:last-child {
			margin-right: auto;
		}
	}

	&.aligncenter {
		justify-content: center;
	}

	&.alignright {
		.wp-block-button:first-child {
			margin-left: auto;
		}
	}
	
	.wp-block-button {
		margin-left: 0;
		margin-top: 0;
	}

	@media (max-width: 31.25em) {
		flex-direction: column;

		.wp-block-button:not(:first-child) {
			margin-top: $measure;
		}
	}
}

.wp-block-buttons .wp-block-button:not(:last-child) {
	margin-right: $measure;

	@media (max-width: 31.25em) {
		margin-right: 0;
	}
}

.wp-block-button__link {
    border-radius: $border-radius;
	border-style: solid;
	border-width: 2px;
    display: inline-block;
    line-height: 1.2;
	padding: calc(.5 * #{$measure}) $measure;
	text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
}
