.wp-block-columns {
    display: flex;
    flex-wrap: wrap;
}

.wp-block-columns {
    &.has-background {
        padding: 0 $measure $measure;
        
        @media (min-width: 62.5em) {
            padding: $measure calc(2 * #{$measure}) calc(2 * #{$measure});
        }
    }

    &.alignfull {
        @media (min-width: 40.625em) {
            padding: 0 calc(2 * #{$measure}) $measure;
        }

        @media (min-width: 62.5em) {
            padding-bottom: calc(2 * #{$measure});
            padding-top: $measure;
        }
    }
    
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
	overflow-wrap: break-word;
}

@media (max-width: 40.5625em) {
    .wp-block-column {
        flex-basis: 100%;
    }
}

/* max-width = 999.5px (not 999px) to fix pixel scaling issue on some screens. */
@media (min-width: 40.625em) and (max-width: 62.46875em) {
    /* Push last column left if row has uneven number of columns. */
    .wp-block-columns {    
        &::after {
            content: '';
            flex: auto;
        }
    }

    .wp-block-column {
        flex-basis: calc(50% - (.5 * #{$measure}));
        flex-grow: 0;
        //padding-right: calc(2 * #{$measure});
    }
    .wp-block-column:nth-child(2n) {
        margin-left: $measure;
    }
}

@media (min-width:62.5em) {
    .wp-block-columns {
        flex-wrap: nowrap
    }

	.wp-block-column {
        flex-basis: 0;
        flex-grow: 1
    }
    .wp-block-column[style] {
        flex-grow: 0
    }
    .wp-block-column:not(:first-child) {
        margin-left: calc(2 * #{$measure});
    }
}

.wp-block-column.is-vertically-aligned-top {
    align-self: flex-start
}

.wp-block-column.is-vertically-aligned-center {
    -ms-grid-row-align: center;
    align-self: center
}

.wp-block-column.is-vertically-aligned-bottom {
    align-self: flex-end
}

.wp-block-column.is-vertically-aligned-bottom,
.wp-block-column.is-vertically-aligned-center,
.wp-block-column.is-vertically-aligned-top {
    width: 100%
}
