.wp-block-group.alignfull,
.wp-block-group.has-background {
	padding: calc(2 * #{$measure});
}

@media (min-width: 40.625em) {
	.wp-block-group.alignfull {
		.wp-block-group__inner-container {
			margin: 0 auto;
			max-width: calc((1rem * #{$width-default}) - (4 * #{$measure}));
		}
	}

	.wp-block-group.alignfull {
		padding-left: calc(2 * #{$measure});
		padding-right: calc(2 * #{$measure});
	}
}

/* TO REVIEW */
.wp-block-group {
	.has-text-align-center {
		margin-left: auto;
		margin-right: auto;
	}

	 /* @todo Improve this approach: media query value is magic. */
	@media (min-width: 43.75em) {
		.has-text-align-right {
			margin-left: calc(100% - #{$width-constrain});
		}
	}
}