.wp-block-image img {
    height: auto;
    max-width: 100%;
}

.wp-block-image figure {
    display: table;
}

.wp-block-image figcaption {
    display: table-caption; /* Constrain width of element to parent. */
    caption-side: bottom;   /* Value required due to display: table-caption usage. */
    margin-bottom: $measure;
    margin-top: calc(#{$measure} / 2);
    text-align: left;
}

@media (max-width: 43.75em) {
    .wp-block-image .alignleft,
    .wp-block-image .alignright {
        max-width: calc(100% / 3);
    }
}

/* Alignment. */
.wp-block-image .aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-image .alignleft {
	float: left;
	margin-right: $measure;
}

.wp-block-image .alignright {
	float: right;
	margin-left: $measure;
}

.wp-block-image.alignfull,
.wp-block-image.alignwide {
    img {
        width: 100%;
    }
}
