/**
 * Simplified approach to manage embedded media.
 *
 * Defaults to fill parent container.
 * Depends on chtheme_add_wrapper_to_oembed() in setup.php.
 */
.embed-wrapper {
	height: 0;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

.embed-wrapper {
	iframe {
		height: 100%;
		left: 0;
		max-width: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
}