/* Block-generated colour classes. */
$colours: (
	'white': $colour-white,
	'black': $colour-black,
	'brand': $colour-brand
);

@each $name, $colour in $colours {
	.has-#{$name}-color {
		color: $colour;
	}

	.has-#{$name}-background-color {
		background-color: $colour;
	}

	/**
	 * Button state.
	 * @link https://www.billerickson.net/wordpress-color-palette-button-styling-gutenberg/
	 */
	.wp-block-button__link.has-#{$name}-background-color {
		border-color: $colour;

		&:hover,
		&:focus {
			background-color: transparent;
			color: $colour;
		}
	}
}
