// Font.
body {
    font-family: $font-default;
}

// Size.
h1 {
	font-size: var(--step-3);
}

h2 {
	font-size: var(--step-2);
}

h3 {
	font-size: var(--step-1);
}

h4,
p,
.rhythm li {
	font-size: var(--step-0);
}

cite {
	display: block;
	font-size: var(--step--1);
}

// Line-length.
[class^="wp-block"] {
	p,
	li {
		max-width: $width-constrain;
	}
}

// List.
.rhythm li {
	ul {
		padding-left: $measure;
	}
}

a {
	&:hover,
	&:focus {
		text-decoration: none;;
	}
}