.ui-shadow {
	position: relative;

	&::before {
		box-shadow: 0 1px 2px #c8c8c8,0 1px 3px
		#fafafa;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
}
