/* Fallback for browsers without grid minmax support. */
.constrain {
	max-width: calc(1rem * $width-default);
	margin: 0 auto;
	padding: 0 $measure;
}

@supports (grid-auto-rows: 0) {
	.constrain {
		display: grid;
		grid-template:
		"left centre right" /
		minmax(#{$measure}, 1fr) minmax(auto, calc(#{$width-default} * 1rem)) minmax(#{$measure}, 1fr);
		padding: 0; /* Override fallback default. */
	}

	.constrain > * {
		grid-column: 2;
		justify-items: center;
	}

	[class^="wp-block"].alignfull {
		grid-column: 1 / 4;
		width: 100%;
	}

	@media (min-width: 40.625em) { /* TO REVIEW: media query */
		.constrain {
			grid-template:
			"left centre right" /
			minmax(calc(2 * #{$measure}), 1fr) minmax(auto, calc((#{$width-default} * 1rem) - calc(4 * #{$measure}))) minmax(calc(2 * #{$measure}), 1fr);
		}
	}

	[class^="wp-block"].alignfull,
	[class^="wp-block"].alignwide {
		max-width: 100% !important;
	}
}