.rhythm * + *:not(.wp-block-group),
.rhythm > *,
.wp-block-group.has-background,
.wp-block-group:not(.has-background) .wp-block-group__inner-container > * {
	margin-top: $measure;
}

.rhythm {
	h2,
	h3 {
		margin-top: calc(2 * #{$measure});
	}

	p + p { /* Group paragraphs with tighter margins. */
		margin-top: calc(.5 * #{$measure});
	}

	/* Blocks. */
	.wp-block-columns,
	.wp-block-column > *:first-child,
	.wp-block-group.has-background + .wp-block-group.has-background,
	.wp-block-group.has-background .wp-block-group__inner-container > *:first-child {
		margin-top: 0;
	}

	.wp-block-columns.has-background,
	.wp-block-column {
		margin-top: $measure;
	}

	@media (min-width: 40.625em) {
		.wp-block-columns,
		.wp-block-columns.has-background .wp-block-column {
			margin-top: $measure;
		}

		.wp-block-column:nth-child(-n+2) {
			margin-top: 0;
		}
	}

	@media (min-width: 62.5em) {
		.wp-block-column {
			margin-top: 0;
		}
	}

	/* Prevent top margin for specified elements. */
	br, /* Fix for Firefox. */
	li {
		margin-top: 0 !important;
	}
}
