@media (max-width: $nav-max-toggle) {
	.menu-drawer {
		background-color: $colour-white;;
		height: 0;
		opacity: 0;
		visibility: hidden;
		width: 100%;

		&.is-active {
			height: auto;
			opacity: 1;
			transition: opacity 350ms ease-in;
			visibility: visible;
		}
	}
}