.menu {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media (min-width: $nav-min-exposed) {
	.menu-item:not(:last-child) {
		margin-right: 1rem;
	}
}

@media (max-width: $nav-max-toggle) {
	.menu--primary {
		align-items: center;
		flex-direction: column;
		min-height: 100vh;
		justify-content: center;
	}
}
